# .gitlab-ci.yml (Basic)
include:
  - remote: 'https://gitlab.com/odavl-studio/insight/-/raw/main/ODAVL-Insight.gitlab-ci.yml'

stages:
  - test
  - deploy

variables:
  ODAVL_TOKEN: $ODAVL_TOKEN  # Set in CI/CD variables